.root {
	max-width: 300px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.logo {
	font-family: "Audiowide", sans-serif;
	font-size: 30px;
	padding: 0 7px;
	border: 5px solid black;
	height: 40px;
	width: 150px;
}

.stopwatch {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 5;
	padding: 10px;
}
.stopwatch__reset {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: none;
	margin-right: 5px;
	cursor: pointer;
}

.stopwatch__reset--disabled {
	cursor: default;
	color: grey;
}

.stopwatch__reset svg {
	height: 20px;
	width: 20px;
}

.stopwatch__toggle {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: none;
	margin-right: 10px;
	cursor: pointer;
}

.stopwatch__clock {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
}

.stopwatch__clock--hidden {
	display: none;
}

.build {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.build__name {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	display: block;
	border: 2px dashed lightgrey;
	margin-bottom: 5px;
	width: 100%;
}

.build__controls {
	display: flex;
	align-self: flex-end;
}

.build__name:hover {
	border: 2px dashed black;
}

.build__name:focus {
	border: 2px dashed black;`
}

.build__button {
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.build__button .feather {
	height: 14px;
	width: 14px;
	margin-right: 3px;
}

.build__button--disabled {
	color: lightgrey;
	cursor: default;
}

.build__button--hidden {
	display: none;
}
