.root {
	max-width: 375px;
	margin: auto;
	font-family: "Roboto", sans-serif;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.logo {
	font-family: "Audiowide", sans-serif;
	font-size: 30px;
	padding: 0 7px;
	border: 5px solid black;
	height: 40px;
	width: 150px;
}

.stopwatch {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 5;
	padding: 10px;
}
.stopwatch__reset {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: none;
	margin-right: 5px;
	cursor: pointer;
}

.stopwatch__reset--disabled {
	cursor: default;
	color: grey;
}

.stopwatch__reset svg {
	height: 20px;
	width: 20px;
}

.stopwatch__toggle {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: none;
	margin-right: 10px;
	cursor: pointer;
}

.stopwatch__clock {
	font-size: 30px;
}

.stopwatch__clock--hidden {
	display: none;
}

.build {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.build__name-container {
	display: flex;
	justify-content: center;
}

.build__name {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	display: block;
	border: 2px dashed lightgrey;
	margin-bottom: 5px;
	width: 100%;
	padding: 3px 5px;
}

.build__controls {
	display: flex;
	align-self: flex-end;
}

.build__name:hover {
	border: 2px dashed black;
}

.build__name:focus {
	border: 2px dashed black;`
}

.build__button {
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.build__button .feather {
	height: 14px;
	width: 14px;
	margin-right: 3px;
}

.build__button--disabled {
	color: lightgrey;
	cursor: default;
}

.build__button--hidden {
	display: none;
}

.timing {
	display: flex;
	padding: 10px 10px 25px 10px;
	justify-content: center;
	align-items: center;
	position: relative;
}

.timing__times {
	display: flex;
	margin-right: 15px;
}

.timing__time {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	border: 2px dashed lightgrey;
	width: 25px;
	text-align: center;
	padding: 2px 3px;
}

.timing__time:hover {
	border: 2px dashed black;
}

.timing__time:focus {
	border: 2px dashed black;
}

.timing__time-separator {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	margin: 0 5px;
}

.timing__phrase {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	border: 2px dashed lightgrey;
	padding: 2px 3px;
	width: 100%;
	max-width: 300px;
}

.timing__phrase:hover {
	border: 2px dashed black;
}

.timing__phrase:focus {
	border: 2px dashed black;
}

.timing__remove {
	background-color: transparent;
	border: none;
	display: none;
	cursor: pointer;
	color: lightgrey;
	position: absolute;
	bottom: 3px;
	right: 5px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.timing__remove .feather {
	width: 16px;
	height: 16px;
}

.timing:hover .timing__remove {
	display: flex;
}

.timing__remove:hover {
	color: black;
}

.timings {
	margin-top: 30px;
}

.timings__add {
	display: flex;
	align-items: center;
	margin: auto;
	border: none;
	background: none;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

.timings__add .feather {
	width: 16px;
	height: 16px;
}

.builds {
	position: absolute;
	top: 0;
	right: 0;
}
