@import url("https://fonts.googleapis.com/css?family=Roboto|Audiowide");

button {
	outline: none;
}

.root {
	max-width: 375px;
	margin: auto;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 97vh;
}

.main-content {
	flex: 1;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.logo {
	font-family: "Audiowide", sans-serif;
	font-size: 30px;
	padding: 0 7px;
	border: 5px solid black;
	height: 40px;
	width: 150px;
}

.stopwatch {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 5;
	padding: 10px;
}

.stopwatch__reset {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: none;
	margin-right: 5px;
	cursor: pointer;
	background-color: transparent;
}

.stopwatch__reset--hidden {
	display: none;
}

.stopwatch__reset .feather {
	height: 25px;
	width: 25px;
}

.stopwatch__toggle {
	border-radius: 50%;
	border: none;
	margin-right: 10px;
	cursor: pointer;
	background-color: transparent;
}

.stopwatch__toggle .feather {
	width: 35px;
	height: 35px;
}

.stopwatch__clock {
	font-size: 30px;
}

.stopwatch__clock--hidden {
	display: none;
}

.divider {
	border: 1px solid lightgrey;
	margin: 10px 0;
}

.current-build-pane--hidden {
	display: none;
}

.current-build {
	display: flex;
	flex-direction: column;
}

.current-build__header {
	padding: 10px;
	margin-bottom: 10px;
}

.current-build__title {
	font-family: "Audiowide", sans-serif;
	font-size: 20px;
}

.current-build__header-buttons {
	display: flex;
	margin-top: 5px;
}

.current-build__name-container {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.current-build__name {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
	border: 2px dashed lightgrey;
	margin-bottom: 5px;
	width: 100%;
	padding: 10px;
}

.current-build__name:hover {
	border: 2px dashed black;
}

.current-build__name:focus {
	border: 2px dashed black;
}

.current-build__button {
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	cursor: pointer;
	color: grey;
	margin: 0 10px 0 0 ;
	padding: 0;
}

.current-build__button .feather {
	height: 14px;
	width: 14px;
	margin-right: 3px;
}

.current-build__button:hover {
	color: black;
}

.current-build__button--disabled {
	color: lightgrey;
	cursor: default;
}

.current-build__button--disabled:hover {
	color: lightgrey;
}

.current-build__button--hidden {
	display: none;
}

.timing {
	display: flex;
	padding: 0 10px 35px 10px;
	justify-content: center;
	align-items: center;
	position: relative;
}

.timing--flash .timing__time {
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.timing--flash .timing__phrase {
	animation-name: flash;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

@keyframes flash {
	50% {
		border-color: red;
		color: red;
	}

}

.timing__times {
	display: flex;
	margin-right: 15px;
}

.timing__time {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	border: 2px dashed lightgrey;
	width: 25px;
	text-align: center;
	padding: 2px 3px;
}

.timing__time:hover {
	border: 2px dashed black;
}

.timing__time:focus {
	border: 2px dashed black;
}

.timing__time-separator {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	margin: 0 5px;
}

.timing__phrase {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	border: 2px dashed lightgrey;
	padding: 2px 3px;
	width: 100%;
	max-width: 300px;
}

.timing__phrase:hover {
	border: 2px dashed black;
}

.timing__phrase:focus {
	border: 2px dashed black;
}

.timing__remove {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: lightgrey;
	position: absolute;
	bottom: 13px;
	right: 5px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: grey;
	display: flex;
}

.timing__remove .feather {
	width: 16px;
	height: 16px;
}

.timing__remove:hover {
	color: black;
}

.timings {
	margin-top: 30px;
}

.timings__add {
	display: flex;
	align-items: center;
	margin: auto;
	border: none;
	background: none;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
	color: grey;
}

.timings__add .feather {
	width: 16px;
	height: 16px;
}

.timings__add:hover {
	color: black;
}

.builds-pane--hidden {
	display: none;
}

.builds__header {
	padding: 10px;
	margin-bottom: 10px;
}

.builds__title {
	font-family: "Audiowide", sans-serif;
	font-size: 20px;
}

.builds__header-buttons {
	display: flex;
	margin-top: 5px;
}

.builds__button {
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	color: grey;
	padding: 0;
	margin: 0 10px 0 0;
}

.builds__button .feather {
	width: 16px;
	height: 16px;
}

.builds__button:hover {
	color: black;
}

.build {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	padding: 10px;
}

.build__name {
	font-size: 22px;
	cursor: pointer;
	border: 2px solid lightgrey;
	width: 100%;
	padding: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}

.build__name:hover {
	border-color: black;
}

.build__controls {
	display: flex;
	justify-content: center;
	align-self: end;
	margin-top: 5px;
}

.build__button {
	color: lightgrey;
	border: none;
	background-color: transparent;
	font-size: 14px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: grey;
}

.build__button .feather {
	width: 16px;
	height: 16px;
}

.build__button .feather-copy {
	margin-right: 2px;
}

.build__button:hover {
	color: black;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.footer__item {
	color: grey;
	font-size: 14px;
	margin: 0 15px;
}

.footer__link {
	display: flex;
	align-items: center;
	color: grey;
	font-size: 14px;
	text-decoration: none;
	margin: 0 15px;
}

.footer__link:hover {
	color: black;
}

.footer__link .feather {
	height: 16px;
	width: 16px;
	margin: 0 3px;
}
